@using AYSAdalet.Models.Modeller;
@model Birimler
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="card">
        <div class="header">
            <h2><strong>Birim</strong> Ekle</h2>            
        </div>
        <div class="body">
            <h1>@TempData["Uyari"]</h1>

            @using (Html.BeginForm("Ekle", "Birim", FormMethod.Post))
            {
                @Html.LabelFor(x => x.BirimAdi)
                @Html.TextBoxFor(x => x.BirimAdi, new {@class = "form-control"})
                <br/>
                <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect">Ekle</button>
            }
        </div>
    </div>
</div>