
AYSAdalet/bin/AYSAdalet.dll
.vs/AYSAdalet/v15/.suo
AYSAdalet/bin/AYSAdalet.dll
AYSAdalet/bin/AYSAdalet.pdb
AYSAdalet/obj/Debug/AYSAdalet.csprojResolveAssemblyReference.cache
AYSAdalet/obj/Debug/AYSAdalet.dll
AYSAdalet/obj/Debug/AYSAdalet.pdb
*.21
/.vs/VSWorkspaceState.json
.vs/AYSAdalet/v16/.suo
*.cache
