
.vs/AYSAdalet/v15/.suo
.vs/AYSAdalet/v15/.suo
*.config
AYSAdalet/obj/Debug/AYSAdalet.csprojResolveAssemblyReference.cache
AYSAdalet/obj/Debug/CoreCompileInputs.cache
AYSAdalet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AYSAdalet/obj/Debug/AYSAdalet.pdb
AYSAdalet/obj/Debug/AYSAdalet.dll
