@model List<AYSAdalet.Models.Modeller.BilgiTalepler>

@using AYSAdalet.Models.Modeller

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div><span style="color:lightcoral">AYS</span> İstatistikleri</div>

<hr />



<div class="row clearfix">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card widget_2 big_icon fa-registered" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26)">
            <div class="body">

                <h6>Aktif Personel</h6>
                <h2>@ViewBag.toplamKayit <small class="info"> / @ViewBag.toplampersonel</small></h2>
                
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card widget_2 big_icon email" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26)">
            <div class="body">
                <h6>Bilgi İşlem Talep</h6>
                <h5>
                    Kayıt: @ViewBag.tumariza /
                    Açık Arıza :@ViewBag.bekleyenariza
                    <small class="info"> </small>
                </h5>
                
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card widget_2 big_icon sales" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26)">
            <div class="body">
                <h6>İdari İşler Talep</h6>
                <h2>12% <small class="info">of 100</small></h2>
                
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card widget_2 big_icon domains" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26)">
            <div class="body">
                <h6>Domains</h6>
                <h2>8 <small class="info">of 10</small></h2>
                
            </div>
        </div>
    </div>
</div>

<div id="sayfayenileme">
    @Html.Action("BilgiTalepFormListe", "Admin")

</div>



<hr style="border-color:lightsalmon" />
<div>
    <div class="card">
        <h3 class="card-header">
            İdari İşler - Talepler
        </h3>
        <div class="card-body">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />


<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            $('#sayfayenileme').load("/Admin/BilgiTalepFormListe");
        }, 3000);
    });
</script>