
@{
    ViewBag.Title = "Index";

}

<!DOCTYPE html>



<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Arıza Takip Sistemi </title>
    <link href="/fatihdestek.eba.gov.tr/assets/ats/bower_components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/fatihdestek.eba.gov.tr/assets/ats/dist/css/loading.css" rel="stylesheet">
    <link href="/fatihdestek.eba.gov.tr/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/fatihdestek.eba.gov.tr/assets/ats/bower_components/css/animate.css" rel="stylesheet">
    <link href="/fatihdestek.eba.gov.tr/assets/ats/bower_components/css/form-style.css" rel="stylesheet">
    <link href="/fatihdestek.eba.gov.tr/css.css?family=Lobster" rel="stylesheet" type="text/css">
    <!-- Template js -->
    <script src="/fatihdestek.eba.gov.tr/assets/ats/bower_components/js/jquery-2.1.1.min.js"></script>
    <script src="/fatihdestek.eba.gov.tr/assets/ats/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/fatihdestek.eba.gov.tr/assets/ats/bower_components/js/jquery.appear.js"></script>
    <script src="/fatihdestek.eba.gov.tr/assets/ats/bower_components/js/jqBootstrapValidation.js"></script>
    <script src="/fatihdestek.eba.gov.tr/assets/ats/bower_components/js/modernizr.custom.js"></script>
    <script src="/fatihdestek.eba.gov.tr/assets/ats/bower_components/js/script.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div align="right">
    <a href="/Login/Index/">
        <img src="~/Content/BilgiIslemForm/uyap.png" width="50px;" height="50px;" />
    </a>

</div>
    <div class="loading" id="loading" style="display: none"></div>
    <!-- Start Logo Section -->
    <section id="logo-section" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo text-center">
                        <h1>Adliye Yönetim Sistemi (v1.0)</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Logo Section -->
    <!-- Start Main Body Section -->
    <center>
        <div class="mainbody-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="menu-item red">
                            <a href="/Talep/Ekle" data-toggle="modal">
                                <i class="fa fa-random"></i>
                                <p><font size="5">Arıza ve Eşya Talep (İdari İşler Müdürlüğü)</font></p>
                            </a>
                        </div>

                        <div class="menu-item light-orange">
                            <a href="/Bilgi_Talep/Index/" onclick="loading()">
                                <i class="fa fa-wifi"></i>
                                <p><font size="5">Donanım Arıza ve Toner Talep (Bilgi İşlem Şefliği)</font></p>
                            </a>
                        </div>
                       
                    </div>

                    <div class="col-md-6">
                        <div class="menu-item green">
                            <a href="" data-toggle="modal" data-target="#modal-red">
                                <i class="fa fa-warning"></i>
                                <p><font size="5">Haftalık Nöbet Listesi</font></p>
                            </a>
                        </div>
                        <div class="menu-item blue">
                            <a href="/Rehber/">
                                <i class="fa fa-phone"></i>
                                <p><font size="5">Telefon Rehberi Sistemi</font></p>
                            </a>
                        </div>

                        
                        <!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </center>
    <!-- End Main Body Section -->
    
    
    <script type="text/javascript">
        function loading() {
            document.getElementById("loading").style.display = "block";
        }
    </script>
    <script type="text/javascript">
        $(window).on('load', function () {
            if () {
                $('#modal-domainfilter').modal('show');
            }
        });
    </script>
</body>
</html>