@using AYSAdalet.Models.Modeller
@model Unvanlar


@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="card">
        <div class="header">
            <h2><strong>Ünvan</strong> Ekle</h2>
        </div>
        <h1>@TempData["Uyari"]</h1>
        <div class="body">
            @using (Html.BeginForm("Ekle", "Unvan", FormMethod.Post))
            {
                @Html.LabelFor(x => x.Unvani)
                @Html.TextBoxFor(x => x.Unvani, new { @class = "form-control" })
                <br />
                <div class="col-md-12">
                    <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect">Ekle</button>
                    <a href="/Unvan/Liste" class="btn btn-raised btn-danger btn-round waves-effect">Ünvan Listesi</a>

                </div>



            }
        </div>
    </div>
</div>