@model AYSAdalet.Models.Modeller.Unvanlar



@{
    ViewBag.Title = "UnvanlarGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("UnvanlarGuncelle", "Unvan", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="body">
            <label>Unvan ID Nosu</label>
            @Html.TextBoxFor(model => model.UnvanID, new { @class = "form-control" })

            <label>Unvanı</label>
            @Html.TextBoxFor(model => model.Unvani, htmlAttributes: new { @class = "form-control" })

            
        </div>

        <div class="form-group">
            <div class="col-md-12 ">
                <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect">Kayıt Düzenle</button>
            </div>
        </div>
    </div>
}