@using AYSAdalet.Models.DataContext
@using AYSAdalet.Models.Modeller
@model AYSAdalet.ViewModels.PersonelTalepVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <title>İdari İşler Müdürlüğü - Talep Ekranı</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500" rel="stylesheet">
    <link href="~/Content/TalepAssets/css/Search.css" rel="stylesheet" />
    <link href="~/Content/TalepAssets/css/Talep.css" rel="stylesheet" />
</head>
<body>
    <div id="wrap">
        <form action="" autocomplete="on">
            <input title="Telefon Rehberi" style="font-size:25px" id="search" name="search" type="text" placeholder="Telefona, birime ve görev yerine göre arama yapabilirsiniz"><input id="search_submit" value="Rehber" type="submit">
        </form>
    </div>
    <div class="" style="clear:both"></div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row main-content bg-success text-center">
            <div class="col-md-4 text-center company__info">
                <span class="company__logo">
                    <h2><span class="fa fa-home fa-4x"></span></h2>
                </span>
                <h4 class="company_title">Burdur Adliyesi</h4>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                <div class="container-fluid">
                    <div class="row">
                        <h2 style="border-radius: 15px; padding: 5px; font-family: Anton; background-color: red; box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.14)">İdari İşler Müdürlüğü - Talep Ekranı</h2>
                    </div>
                    <div class="row">
                        @using (Html.BeginForm("Index", "Talep", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" required="true" tabindex="0" name="sicil" id="username" class="form__input" placeholder="Kurum Sicil No">
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Sorgula</button>
                                </div>
                            </div>
                        }
                        @{
                            if (IsPost)
                            {
                                <div style="padding: 10px" class="row">
                                    <div class="alert alert-success">
                                        Hoşgeldiniz Sayın <span style="font-weight: bolder"> @Model.Personel.PersonelAdSoyad</span><br />
                                        Sistemde kayıtlı telefon numaranız <span title="Telefon numaranız güncel değilse talebinize yeni numaranızı ekleyiniz" style="color: coral; font-size: 16px; font-weight: bolder">@Model.Personel.DahiliNo1</span><br />
                                        Talebinizi aşağıdaki alana ayrıntılı bir şekilde giriniz
                                    </div>
                                    @{

                                        if (Model.Personel.PersonelGorevYerleris.Count > 1)
                                        {
                                            <div style="margin: 5px; padding: 5px" class="alert-danger">Sistem kayıtlarında birden fazla birimde görevlisiniz. Açılan kutudan talep veya arıza bildireceğiniz birimi seçiniz</div><br />

                                            List<Birimler> birimler = new List<Birimler>();

                                            foreach (var gorevyerleri in Model.GorevYerleri)
                                            {
                                                if (gorevyerleri.Personel.PersonelSicil == Model.Personel.PersonelSicil)
                                                {
                                                    birimler.Add(gorevyerleri.Birimler);
                                                }
                                            }
                                            @Html.DropDownListFor(x => x.Personel.PersonelID, new SelectList(birimler, "BirimID", "BirimAdi"), new { @class = "form-control" })
                                        }
                                    }

                                    @using (Html.BeginForm("KaydaYolla", "Talep", FormMethod.Post))
                                    {
                                        <div style="margin: 10px">
                                            <div class="row">
                                                <textarea name="mesaj" class="form-control" rows="10" placeholder="Talebinizi bu alana girin"> </textarea>
                                            </div>
                                            <div class="row">
                                                <input type="submit" value="Talep Gönder" class="btn">
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else if (!IsPost)
                            {
                                <div style="padding: 20px" class="alert-danger">Veritabanında bu Sicil bulunamadı<br /> Doğru bir şekilde girdiğinizden emin olun</div>
                            }
                        }

                    </div>
                    <div class="row">
                        <p><a href="#">Anasayfa</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>